elasticsearch/certs/*
!elasticsearch/certs/.gitkeep

elasticsearch/esdata01/*
!elasticsearch/esdata01/.gitkeep

elasticsearch/esdata02/*
!elasticsearch/esdata02/.gitkeep

elasticsearch/esdata03/*
!elasticsearch/esdata03/.gitkeep

elasticsearch/kibanadata/*
!elasticsearch/kibanadata/.gitkeep

kafka/kafka-broker-1/data/*
!kafka/kafka-broker-1/data/.gitkeep

kafka/kafka-broker-2/data/*
!kafka/kafka-broker-2/data/.gitkeep

kafka/kafka-broker-3/data/*
!kafka/kafka-broker-3/data/.gitkeep

kafka/kafka-broker-1/logs/*
!kafka/kafka-broker-1/logs/.gitkeep

kafka/kafka-broker-2/logs/*
!kafka/kafka-broker-2/logs/.gitkeep

kafka/kafka-broker-3/logs/*
!kafka/kafka-broker-3/logs/.gitkeep

mysql8/data/*
!mysql8/data/.gitkeep

mysql8/logs/*
!mysql8/logs/.gitkeep

mysql8/logs/*
!mysql8/logs/.gitkeep

nacos/mysql/*
!nacos/mysql/.gitkeep

nacos/nacos/data/*
!nacos/nacos/data/.gitkeep

nacos/nacos/logs/*
!nacos/nacos/logs/.gitkeep

redis/redis-sentinel/master/data/*
!redis/redis-sentinel/master/data/.gitkeep

redis/redis-sentinel/slave1/data/*
!redis/redis-sentinel/slave1/data/.gitkeep

redis/redis-sentinel/slave2/data/*
!redis/redis-sentinel/slave2/data/.gitkeep

redis/redis-sentinel/sentinel1/data/*
!redis/redis-sentinel/sentinel1/data/.gitkeep

redis/redis-sentinel/sentinel2/data/*
!redis/redis-sentinel/sentinel2/data/.gitkeep

redis/redis-sentinel/sentinel3/data/*
!redis/redis-sentinel/sentinel3/data/.gitkeep


rocketmq/console-ng/data/*
!rocketmq/console-ng/data/.gitkeep

rocketmq/logs/broker-a/*
!rocketmq/logs/broker-a/.gitkeep

rocketmq/logs/broker-b/*
!rocketmq/logs/broker-b/.gitkeep

rocketmq/logs/nameserver-a/*
!rocketmq/logs/nameserver-a/.gitkeep

rocketmq/logs/nameserver-b/*
!rocketmq/logs/nameserver-b/.gitkeep

rocketmq/store/broker-a/*
!rocketmq/store/broker-a/.gitkeep

rocketmq/store/broker-b/*
!rocketmq/store/broker-b/.gitkeep

zookeeper/zk-1/data/*
!zookeeper/zk-1/data/.gitkeep

zookeeper/zk-1/datalog/*
!zookeeper/zk-1/datalog/.gitkeep

zookeeper/zk-2/data/*
!zookeeper/zk-2/data/.gitkeep

zookeeper/zk-2/datalog/*
!zookeeper/zk-2/datalog/.gitkeep

zookeeper/zk-3/data/*
!zookeeper/zk-3/data/.gitkeep

zookeeper/zk-3/datalog/*
!zookeeper/zk-3/datalog/.gitkeep

.DS_Store
